<%- include('./partials/header') %>
<div class="container">
  <h3>My book list</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Transaction Id</th>
        <th scope="col">Item</th>
        <th scope="col">Item Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<%- include('./partials/footer') %>